<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concursos</title>
    <link rel="stylesheet" type="text/css" href="/css/EConcursos.css">
    <link rel="stylesheet" type="text/css" href="/css/ECabecera.css">
   
</head>
<body>
 
    <nav class="navbar">
        <img src="../../Imagenes/logoC.png" alt="logo">
        <div class="containerCabecera">
            
            <ul class="nav-links">
                <li><a href="indice">Inicio</a></li>
                <li><a href="calendario">Calendario</a></li>
                <li><a href="formuReserva">Reservas</a></li>
                <li><a href="concursos">Concursos</a></li>
                <li><a href="Contacto">Contacto</a></li>
            </ul>
        </div>
    </nav>

    <br><br>

    <h1>Pruebas</h1>
    <div class="concursos-container">
        <div class="container">
            <div class="box">
                <a href="formuConcurso?prueba=contrareloj" class="link">
                    <img src="../Imagenes/Contrarreloj.png" alt="Image 1">
                    <h2>Caballo ganador</h2>
                </a>
            </div>
            
            <div class="box">
                <a href="formuConcurso?prueba=tiempooptimo" class="link">
                    <img src="../Imagenes/tiempo optimo.png" alt="Image 1">
                    <h2>Tiempo óptimo</h2>
                </a>
            </div>   
        </div>
    </div>
    
</body>
</html>
