<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/EeditorR.css">
    <link rel="stylesheet" type="text/css" href="/css/ECabecera.css">
    <title>Formulario de Reserva</title>
</head>
<body>
    
    <nav class="navbar">
        <img src="../../Imagenes/logoC.png" alt="logo">
        <div class="containerCabecera">
            
            <ul class="nav-links">
                <li><a href="indice">Inicio</a></li>
                <li><a href="calendario">Calendario</a></li>
                <li><a href="formuReserva">Reservas</a></li>
                <li><a href="concursos">Concursos</a></li>
                <li><a href="Contacto">Contacto</a></li>
            </ul>
        </div>
    </nav>

    <div class="form-container">
        <h1>Datos de Reserva</h1>
        <form id="resForm">
            <div class="form-group">
                <label for="organic">Orgánica:</label>
                <input type="text" id="organic" name="organic">
            </div>
            
            <div class="form-group">
                <label for="contest">Concurso:</label>
                <input type="text" id="contest" name="contest">
            </div>
            
            <div class="form-group">
                <label for="ambit">Ámbito:</label>
                <input type="text" id="ambit" name="ambit">
            </div>
            
            <div class="form-group">
                <label for="date">Fecha:</label>
                <input type="date" id="date" name="date">
            </div>
            
            <div class="form-group">
                <label for="trial">Prueba:</label>
                <input type="text" id="trial" name="trial">
            </div>
            
            <button type="submit">Enviar reserva editada</button>
            <script src="../static/editorR.js"></script>
        </form>
    </div>
</body>
</html>