<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/Eerror.css">
        <link rel="stylesheet" type="text/css" href="/css/ECabecera.css">

    </head>

    <body>

        <nav class="navbar">
            <img src="../../Imagenes/logoC.png" alt="logo">
            <div class="containerCabecera">
                
                <ul class="nav-links">
                    <li><a href="indice">Inicio</a></li>
                    <li><a href="calendario">Calendario</a></li>
                    <li><a href="formuReserva">Reservas</a></li>
                    <li><a href="concursos">Concursos</a></li>
                    <li><a href="Contacto">Contacto</a></li>
                </ul>
            </div>
        </nav>

        <div class="contenedor">
            <div class="contenido">
                <div class="texto-superior">Error 404</div>
                <img src="../Imagenes/error404.png" alt="Imagen" class="imagen">
                <div class="texto-inferior"><a href="indice">Inicio</a></div>
            </div>
        </div>
    </body>
</html>
