<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foro de Preguntas</title>
    <link rel="stylesheet" type="text/css" href="/css/EMensajes.css">
    <link rel="stylesheet" type="text/css" href="/css/ECabecera.css">

</head>
<body>
   
    <nav class="navbar">
        <img src="../../Imagenes/logoC.png" alt="logo">
        <div class="containerCabecera">
            
            <ul class="nav-links">
                <li><a href="indice">Inicio</a></li>
                <li><a href="calendario">Calendario</a></li>
                <li><a href="formuReserva">Reservas</a></li>
                <li><a href="concursos">Concursos</a></li>
                <li><a href="Contacto">Contacto</a></li>
            </ul>
        </div>
    </nav>

    <div class="contenedor">
        <h1>Foro de Preguntas</h1>
        <div id="preguntas"></div>
        <p id="no-mensajes" style="display: none;">No existe ningún mensaje.</p>
    </div>
    <script src="../static/mensajes.js"></script>
</body>
</html>
